In [ ]:
def employees_salary(Y_exp, edu_lvl, rate):
    salary = 0

    if (Y_exp < 2):
        salary += 30000
    if (Y_exp >= 2 and Y_exp <= 5):
        salary += 40000
    if (Y_exp > 5):
        salary += 50000
    
    if (edu_lvl == "High school diploma"):
        salary += 5000
    if (edu_lvl == "Bachelor's degree"):
        salary += 10000
    if (edu_lvl == "Master's degree"):
        salary += 15000
    
    if (rate == "Excellent"):
        salary += 5000
    if (rate == "Good"):
        salary += 3000
    if (rate == "Average"):
        salary += 0

    return salary

print(f"First employee's salary: {employees_salary(3, "Bachelor's degree", "Excellent")}")
print(f"Second employee's salary: {employees_salary(1, "High school diploma", "Average")}")
print(f"Third employee's salary: {employees_salary(6, "Master's degree", "Good")}")

First employee's salary: 105000
Second employee's salary: 85000
Third employee's salary: 18000